[2020-01-14 18:30] ndw opened #1 "Add (require 'seq)"
Declarative templates are a nice addition to Org. I hope that they get folded into the main release. In the meantime, I was experimenting and discovered that `seq-filter` is used so `(require 'seq)` is necessary.

[2020-01-14 19:05] #1 closed, assigned to nobody

[2020-01-14 19:22] progfolio commented on #1
Appreciate the kind words! I'm still experimenting, but plan on pitching some of the features to the Org dev team. Thank you for catching this!

[2020-01-19 21:05] ndw opened #2 "flatten-list"
I'm not sure when it got introduced, but the latest HEAD includes a call to `flatten-list` which is not defined in Emacs 26.

[2020-01-19 21:28] progfolio commented on #2
Thanks again! Will have a patch up momentarily.

[2020-01-19 22:39] progfolio commented on #2
@ndw: This should take care of it, but I only have Emacs 28.0.50 available on this machine. Let me know if this works for you:
https://github.com/progfolio/doct/commit/cdb11fc49f5d00dfff9b258d3122e1bb6b1fbd92

Thanks again

[2020-01-19 22:48] ndw commented on #2
Yep, that seems to work.

[2020-01-19 22:52] progfolio commented on #2
Appreciate it!

[2020-01-19 22:52] #2 closed, assigned to nobody

[2020-01-29 16:17] progfolio opened #3 "Add support for org-capture-templates-contexts"
https://orgmode.org/manual/Templates-in-contexts.html

Allows users to change template menu depending on current mode, buffer or by some predicate function of their choosing.

[2020-01-29 16:22] progfolio opened #4 "Refactor "symbolic-parent" to :group"
"Group" is the concept we want. The fact that it's implemented with symbols is irrelevant. The group keyword should also take a string as its value to describe the group:

[code]

[2020-01-30 03:10] #4 closed, assigned to progfolio

[2020-01-31 03:20] progfolio commented on #3
On development branch. Letting dust settle before merging to master.

[2020-01-31 16:41] progfolio commented on #3
Added error handling and tests.

[2020-01-31 16:41] #3 closed, assigned to progfolio

[2020-02-02 23:00] mohkale opened #5 "issues with some completion packages?"
using templates that contain the new `"%doct()"` construct causes an error to be thrown with the following functions.

- counsel-projectile-org-capture (from [counsel-projectile](https://github.com/ericdanan/counsel-projectile))

[code]

- counsel-org-capture (from [counsel-org](https://github.com/abo-abo/swiper))

[code]

[2020-02-02 23:17] progfolio commented on #5
Thanks for the bug report. What version of Org mode are you using?

[2020-02-02 23:35] mohkale commented on #5
GNU Emacs 26.3 (build 1, x86_64-w64-mingw32) of 2019-08-29

Org mode version 9.1.9 (release_9.1.9-65-g5e4542 @ c:/SP_CI_PROGRAMS/IDE/emacs/share/emacs/26.3/lisp/org/)

[2020-02-02 23:40] progfolio commented on #5
I'm 99% sure I know what the problem is. Just to confirm, does this work for you if you evaluate it in your scratch buffer?:
[code]
Should expand template in your default org notes file.

[2020-02-03 00:39] mohkale commented on #5
nope 😢.

[code]

[2020-02-03 00:44] progfolio commented on #5
I believe you're hitting an upstream bug in Org that I reported while writing doct. There was a check for `fboundp` in `org-capture-get-template` which has been changed to `functionp`. This predicate allows anonymous functions.  It should be patched in Org as of this commit: https://code.orgmode.org/bzg/org-mode/commit/b64a3308aa8d0008957f639d2910f5ff30ea5123

The reason you're hitting it is becau

[2020-02-03 03:09] progfolio commented on #5
@mohkale Try this branch when you have time:
https://github.com/progfolio/doct/tree/bug-upstream-org-fboundp
Works for me on Org version 9.3, which still has the `fboundp` in `org-capture-get-template`. Hoping that works for you as well.

[2020-02-04 20:24] mohkale commented on #5
Yep, works perfectly, thnx 😄.

[2020-02-04 20:33] progfolio commented on #5
Excellent! Thanks again for the report. I've merged that branch into master.

[2020-02-04 20:33] #5 closed, assigned to progfolio

[2020-02-12 01:14] swflint opened #6 "Support `(file "path/to/template.org")` template paths"
Org natively allows the use of files for storing templates.  Support for this would make using doct easier.

[2020-02-12 01:27] progfolio commented on #6
This is what the `:template-file` keyword allows.
https://github.com/progfolio/doct#template

I should probably add an explicit example to the docs to make that clearer.

[code]
Are you suggesting that the `:template` keyword accept the vanilla syntax list like so?:
[code]

[2020-02-13 18:33] progfolio commented on #6
@swflint I've added an example for the `:template-file` keyword to the documentation.
Let me know if this addresses your suggestion or if I misinterpreted it.

Thank you

[2020-02-16 03:17] swflint commented on #6
That's it.  Thanks.

[2020-02-16 03:17] #6 closed, assigned to progfolio

[2020-02-25 11:56] arkhan opened #7 "Set up child-based category"
Regards,

Great job with this, it simplifies the templates for org-capture quite a bit.

I have a question or I don't know if it's a feature request.

How can I set the property: CATEGORY: based on a child, I am dealing with this:

[code]
But it doesn't work, you can tell me if this can be done.

PS .: [leaf.el](https://github.com/conao3/leaf.el) the similar to use-package

Thank you

[2020-02-25 15:45] progfolio commented on #7
Thanks for checking it out and the issue report.
The function responsible for getting the values in `%doct(keyword)` expansion strings was only checking custom metada. No reason it can't do that and, if no custom metadata keyword is found, fallback to the the keywords present on the original declaration. I've pushed a patch with this behavior on this branch:

https://github.com/progfolio/doct/tree

[2020-02-25 22:52] arkhan commented on #7
@progfolio I just tried it, and it works perfectly

[2020-02-25 23:04] progfolio commented on #7
Excellent, I'll merge into master. Thanks again for the report. You've helped make doct a better package!

[2020-02-25 23:06] #7 closed, assigned to progfolio

[2020-03-15 15:20] mohkale opened #8 "warnings issued with example doct."
## Describe the problem
In the README, there's an example doct:

[code]

If I try to evaluate it I get a tonne of warnings.

## Directions to reproduce

1. Copy the example doct to your `*scratch*` buffer.
2. evaluate your scratch buffer (using `eval-buffer`).

When I do so, the warnings buffer pops up with the following messages.

[code]

### Version information

* Emacs version: GNU Emacs 27.0.6

[2020-03-15 15:22] mohkale commented on #8
I'm having the same issue with all of my own templates as well.

[2020-03-15 15:37] progfolio commented on #8
Sorry! Working on a patch now!

[2020-03-15 16:17] mohkale commented on #8
No probs, issues like this are inevitable with a package this cool 😎.

[2020-03-15 16:30] progfolio commented on #8
Temporary solution:
[code]
Will disable all warnings. (Note to self: rename that variable)

[2020-03-15 16:36] mohkale commented on #8
Yeah, I encountered that variable when trying to make doct quieter, but I didn't try it cause the name seemed to imply it was only for a single type of issue. Maybe name it `doct-allow-warnings` or something.

[2020-03-15 16:47] progfolio commented on #8
That branch above fixes the example you gave.
Would you mind testing it on your templates?

[2020-03-15 17:35] mohkale commented on #8
Yep, everythings working again. Thnx for the great work 😄.

[2020-03-15 17:38] progfolio commented on #8
Excellent. Will merge to master once I do some more cleanup!

[2020-03-15 17:44] mohkale commented on #8
Kay, I'll close this issue for now. 😎.

[2020-03-15 17:44] #8 closed, assigned to progfolio

[2020-03-20 16:36] BumbleBeeBleep opened #9 "Doct modifies list argument"
Hello,

I am trying to put some common children under different parents as shown below. But this does not work. Both `ct` and `it` put the todo item under the currently clocked item. After running the code the value of `my/basic-capture-types` is changed to this:
[code]
Is this meant to happen? If yes, what would be an other way to accomplish this?
Thank You!
[code]

[2020-03-20 17:58] progfolio commented on #9
Thanks for reporting this. Doct does indeed modify its declarations argument. I had not anticipated your use-case! Any performance gained from mutating the argument is probably moot. Working on a patch now to fix this.

[2020-03-20 18:13] progfolio commented on #9
The commit below (ad94e62) should take care of that for you. Would you mind testing it for me?

[2020-03-20 18:58] BumbleBeeBleep commented on #9
This is working for me, Thanks!

[2020-03-20 19:07] progfolio commented on #9
Glad to hear it! I'll merge the fix into master. Thanks again for reporting.

[2020-03-20 19:07] #9 closed, assigned to progfolio

[2020-03-22 19:26] progfolio opened #10 "Change %doct(keyword) syntax"
@floscr @LemonBreezes @fuzzycode @contrun @BumbleBeeBleep @mohkale @arkhan @swflint @ndw

I'm considering introducing a breaking change to doct and I was curious if anyone has any opinions or ideas about it.
Recently @jethrokuan and I discussed the possibility of [org-roam](https://github.com/jethrokuan/org-roam/) using doct.
The template string replacement syntax in org-roam is `%{keyword}` vs do

[2020-03-22 21:18] mohkale commented on #10
I don't particularly mind, this seems nicer to write and updating my config will take like 2 mins 👍.

[2020-03-23 00:31] progfolio commented on #10
Yes, I don't foresee this being too painful to upgrade. Something like this should work:
[code]

[2020-03-23 03:52] jethrokuan commented on #10
fwiw org-roam currently uses `${}`, which is what `s.el` uses. But I can also add a template converter so it's transparent to the users, while still using doct underneath.

[2020-03-23 03:59] progfolio commented on #10
My apologies, must've had my wires crossed with org-capture-mode's `%^{}` syntax when I wrote my notes on this. I could just as easily go for `${}`.

[2020-03-23 05:34] jethrokuan commented on #10
I think there's good reason to stick to the `%{...}` syntax, people may be confused where to use each.

[2020-03-23 05:44] progfolio commented on #10
That's a good point. Regardless of which syntax, I think translating it if needed could be trivial. It's just a simple regexp/replace and that regexp is stored in a variable in doct. So even if another package, say org-roam, decided to go with a different syntax that variable could just be rebound internally prior to converting templates.

e.g.
[code]

[2020-03-23 08:23] ndw commented on #10
It wouldn't be onerous to translate to the new syntax and it seems a little nicer. If it's possible to make the current syntax raise an error rather than silently fail, that would be nice.

[2020-03-23 18:07] fuzzycode commented on #10
I have no issues with a breaking change, it will be fixed in 2 minutes tops.

I like the new syntax, seems more inline with what I am used to use for string replacement and if it is more consistent with other emacs/org packages I am all for it.

[2020-03-26 06:22] wagk opened #11 "Unable to use doct with `add-to-list`"
Hello; Thanks for implementing this macro (It's been fairly useful)

My current Emacs workflow involves me defining and adding capture templates from multiple files, and as such I would like to be able to to use `add-to-list` instead of `setq`:

[code]

However `doct` seems to return a list of lists, which (as far as I can tell) makes it unable to integrate with existing `org-capture-template` ent

[2020-03-26 14:59] progfolio commented on #11
Thank you for using doct!

Passing doct a single list generates a Wrong type argument: listp error, and I'm not sure if manually extracting it from the list would break something.

I'd write a function that takes care of wrapping a single declaration in a list and unwrapping the result:

[code]
doct returns a list of templates, so altering that list should not break anything unless it is turned in

[2020-03-29 16:14] progfolio commented on #10
The new syntax change has been implemented. `doct` will do its best to automatically convert the old syntax, `%doct(KEYWORD)`, to the new syntax: `%{KEYWORD}`. It will also warn during conversion so users can address the change in their configurations. The following command can be executed in the buffer containing your declarations and should take care of changing the syntax. It will show a diff s

[2020-03-29 16:17] #10 closed, assigned to nobody

[2020-03-30 05:25] wagk commented on #11
Yes, `(car (doct ...))` looks like it will handle my use case.

Would this affect the bundling of parent and child commands?

[2020-03-30 05:41] progfolio commented on #11
I'm not sure I understand the question. Could you provide a minimal example that illustrates it?

[2020-03-30 20:13] progfolio commented on #11
If I understand correctly:
Your concern is whether you can use the `:children` keyword
while using add-to-list to modify org-capture-templates?

In that case we can't just take the car of the resultant list because
a single declaration may convert to multiple templates.
Something like this would work better:

[code]

Example usage:
[code]

Results in a list of templates that preserves the parent/c

[2020-03-30 20:43] progfolio commented on #11
I've modified `doct` so it accepts a single declaration as well as a list of declarations.
Doing so simplifies the implementation of that function I suggested a bit. This should work on latest master:

[code]
Does that address the question you had?

[2020-04-03 04:55] shrysr opened #12 "Constant warning regarding doct template"
I've defined a few functions for templates like

[code]

which are plugged into templates for capture like

[code]

However for each capture, I get the warning

I have tried replacing %doct(todo-state)  with %doct{todo-state}  in the function above, as I see some discussion on this breaking change. However then the literal %doct{todo-state} appears in the capture. The warning appears each time I c

[2020-04-03 05:02] shrysr commented on #12
AHA. I see i did not pay attention. It should have been %{todo-state}. I will close the issue.

[2020-04-03 05:02] #12 closed, assigned to progfolio

[2020-04-03 14:43] progfolio commented on #12
Thanks for using doct!
Glad it was an easy fix for you. One other thing I noticed:
You should be able to use the symbol for your template function directly.

[code]
Can be:
[code]

[2020-04-03 15:05] shrysr commented on #12
Thank you for creating doct! THe doct approach to create capture templates adds a lot of clarity in my mind and makes it easier.

Ah. Thanks for taking the time to observe that snippet :) I am new to elisp and am yet to figure out when I should use a lambda and when it is not necessary. I have corrected this in my doct config.

[2020-04-03 18:04] progfolio commented on #11
I'm going to consider this taken care of.  Feel free to comment on this issue or start a new one if the above does not address your question.

[2020-04-03 18:04] #11 closed, assigned to progfolio

[2020-04-24 06:19] yantar92 opened #13 "Add syntax for adding property drawers to the templates"
It would be handy if I could do something like

    (doct '("Example"
    	:keys "t"
            :file yant/org-inbox-file
    	:template
    	("* TODO sample task"
    	 :properties (("CREATED" . "%U")
		              ":STYLE: habit"
    		          ("REPEAT_TO_STATE" . "NEXT")
    		          ("LOGGING" . "DONE(!)")
    		          ("ARCHIVE" . "%%S_archive_%%y:*Habits")
    		          ("ORG-TI

[2020-04-24 15:02] progfolio commented on #13
Thanks for the suggestion!

I'm hesitant to add something like this.
It's only really applicable when the `:type` is `entry` and would complicate the code-base.
Fortunately, `:template` can be a function which constructs the template string.

[code]

I've separated the headline and properties into custom keywords which the function template accesses.
You could also specify them together with a sin

[2020-04-26 13:12] yantar92 commented on #13
I somehow had an impression that entry :type is one of the most common use-cases of capture templates.
Probably, it is just my experience.

Well. I could as well define a macro independently from `doct` or even add `org-capture-before-finalize-hook`. Anyway, thanks for showcasing `doct-get`.

[2020-04-26 15:24] progfolio commented on #13
I agree that it is a common use-case, but the functionality is possible without extending the syntax.

Sounds more in the realm of a function rather than a macro, unless you had some more complex behavior in mind. You could use a hook as well, but be mindful that the hook will be run multiple times in situations where you're appending to the same heading.

Here's a hook-based example that works wi

[2020-04-27 18:04] #13 closed, assigned to progfolio

[2020-04-29 09:45] Alexander-Miller opened #14 "Dynamic elements in :olp"
I split the items I plan and log in my org files based on the year, so the outline paths for my capture templates often look like `("Tasks" "2020" "Habits")`. In order to not have to update the templates for every new year I have been trying to dynamically built the olps by including a calls to functions like `(format-time-string "%Y")`.

That doesn't work in doct because it expects the `:olp` to

[2020-04-29 12:19] progfolio commented on #14
You can use the backquote syntax to have the year dynamically computed when doct converts the declaration to the template:

[code]
The year will only be computed during conversion, so if it changes during usage (say you keep Emacs running on New Year's Eve into Jan 1st) you'll have re-evaluate/set your `org-capture-templates` again for it to change. Not much of a hassle, but something to be aware

[2020-04-29 12:34] Alexander-Miller commented on #14
I was pretty sure I had tried that. Guess I was doing it wrong :man_facepalming:.
Thanks for the help!

[2020-04-29 12:34] #14 closed, assigned to progfolio

[2020-05-02 16:31] Luis-Henriquez-Perez opened #15 "declarative yasnippet templates"
I just wanted to mention that I really like this idea and I would love to see it
applied to yasnippet templates. I don't like having snippets in a multiple
separate files. And I don't like writing snippets in non lisp. Sometimes I end
up with one snippet that's a huge long line.

Here's an example of what it might look like:
[code]

Here's what the macro I wrote to do this looks like:
[code]
It us

[2020-05-02 21:15] progfolio commented on #15
Thanks for sharing! It's an interesting idea. I think it's worth experimenting to see if the syntax ends up being easier to reason about and maintain. However, I don't use yasnippet as heavily as I do org-capture, so unfortunately I can't comment much on your implementation. Some general notes:

- I originally wrote doct as a macro. It turned out it didn't need to be one! A regular function did th

[2020-05-03 00:54] Luis-Henriquez-Perez commented on #15
I am very grateful for your advice and I will keep you posted. Thank you.

[2020-05-03 00:54] #15 closed, assigned to nobody

[2020-05-26 04:41] ironicbadger opened #16 "org-roam integration"
Very new to emacs (doom) and am using org-roam plus doct.

[code]

I've attempted a few ways to achieve the desired effect however I must be missing something

[code]

All of the above options return a filename that looks like this

[code]

As per the first code block I would love the "slug" to be in the actual filename rather than just an ambiguous date. So I must be missing something really simp

[2020-05-26 05:56] progfolio commented on #16
EDIT: please see superseding gist:

https://gist.github.com/progfolio/2871f12099be3913a1c61a3c3062f4fd

Unfortunately, `org-roam` does not integrate with `doct` well yet.
As a workaround you could define a function which takes a custom keyword on the declaration,
converts everything as doct usually would, and then places the keywords that org-roam expects on the resultant template:

This is the fu

[2020-05-26 16:01] ironicbadger commented on #16
Thank you very much for this code! I just got chance to test it and it works well for my needs I think. So until 'real support' this will do nicely, thanks.

[2020-05-26 16:01] #16 closed, assigned to progfolio

[2020-07-23 09:04] yantar92 opened #17 "%{KEYWORD} Expansion fails when KEYWORD is a function modifying match-data"
## Describe the problem

When using %{KEYWORD} expansion with KEYWORD set to `(lambda () ... (re-search-forward ...)))`, capturing fails silently.
I tracked this down to `doct--replace-template-strings` where the following code assumes that match data is not modified by the user function.

[code]

I think that the funcall must be wrapped into `save-match-data` to avoid `replace-match` throwing err

[2020-07-23 15:33] progfolio commented on #17
Thank you for the report and analysis. Can you please provide a specific example of a function you're using that alters the match-data? Your assessment is correct, I'm just curious as to what your use case is.

[2020-07-23 15:57] yantar92 commented on #17
I am trying to generate bibtex entry for captured webpages. The code is rather long and only half-way done, but since you asked, see  the below. Note several instances of `save-match-data` in the code. I had to add it to work around the issue.

[code]

Capture template

[code]

[2020-07-23 16:31] progfolio commented on #17
Pushed a patch that should take care of saving the match data, restriction and excursion.
So you should be able to modify any of that without worry. If you wouldn't mind testing it, I'd appreciate it.

That's quite a setup! If it proves useful for you, I encourage you to make it into a package to share with others.

One small tip since you're on the latest Emacs:
Recently indentation for data list

[2020-07-24 14:06] yantar92 commented on #17
So you should be able to modify any of that without worry. If you wouldn't mind testing it, I'd appreciate it.

I tried to remove all the `save-match-data` from my code. With your patch, nothing got broken and everything works as expected.

I may share the code on github, but I have little interest (and often time) for maintaining it other than for my specific use-cases. The code is going to be wr

[2020-07-24 14:06] #17 closed, assigned to progfolio

[2020-07-27 07:33] shrysr opened #18 "Method to combine doct with org-roam templates?"
I am a happy user of doct, and a recent user of org-roam. I'm unable to figure out the method of using the org-roam function with the doct capture templates. I would appreciate advice on this.

So I have multiple templates defined in functions like
[code]

And then org-capture templates are defined something like:

[code]
I have tried using the template keyword to use the org-roam-capture function

[2020-07-27 07:46] progfolio commented on #18
See #16
If that doesn't do the trick, let me know.

[2020-07-27 19:30] progfolio commented on #18
I've reworked the code in #16 to be a little more flexible:

https://gist.github.com/progfolio/2871f12099be3913a1c61a3c3062f4fd

This package provides `doct-org-roam`  which can be used just like `doct` with the addition of an `:org-roam` keyword for org-roam specific keywords.

Example usage with the default org-roam template:

[code]
I don't think I'll publish this on MELPA or anywhere else due

[2020-07-27 19:46] #18 closed, assigned to progfolio

[2020-07-28 14:38] driftcrow opened #19 "auto switch input method"
support auto switch input method in some field like  Chinese name

[2020-07-28 14:52] progfolio commented on #19
I'm not sure what you're asking for. Please provide more detail and an example.

[2020-07-29 13:49] driftcrow commented on #19
An example template for ledeger like:
                  "%(org-read-date) * recieve  %^{Received From} %^{For why}
  Assets:%^{Account|Personal|Home}  %^{Amount} %^{Currency|CNY|USD|JPY}
  Income:Gifts
"

these are multi field for input ,so I want when the cursor in some field the input switch to English, and in some fields as For why, from then switch the input method to Chinese for input Chinese

[2020-07-29 21:01] progfolio commented on #19
Thank you for the example. I understand what you're trying to achieve now.
This use-case isn't general enough to integrate into doct, but it shouldn't be too hard to configure something.

You could add a function to `minibuffer-setup-hook` which checks the prompt
and conditionally enables an input method. e.g.:

    (defun +minibuffer-polyglot ()
      "Switch input method if minibuffer prompt sta

[2020-07-30 02:29] driftcrow commented on #19
Most sincere thanks for your response my request , I'll try it .

[2020-07-31 02:44] progfolio commented on #19
In all honesty, after looking over the code, I think it may be best to start fresh. There are some decent ideas, but everything is tied so tightly to sdcv. I may take a crack at writing something more generic.

[2020-07-31 02:50] progfolio commented on #19
EDIT: Apologies. I posted a comment in this issue intended for another.

[2020-07-31 18:33] #19 closed, assigned to progfolio

[2020-08-08 03:13] kehoen opened #20 ":clock-in on root heading"
Hello,

Thanks for this package - I think it is a nice idea for developing capture templates. I have successfully set up a template which I want to use `:clock-in t`. This works fine, however, if I also use `%?` to assert where the cursor should be after the template is created, the clock will be assigned to that (sub)headline.

Is there any way to ensure that the clock is assigned to the highest

[2020-08-08 06:15] progfolio commented on #20
Thank you for the kind words.

Can you provide an example template declaration so I can investigate the behavior you're seeing?

[2020-08-08 11:46] kehoen commented on #20
Sure. I didn’t copy everything but this is an example that I would like to have a clock in at the highest headline but put the cursor under notes.

`

                      ("Meeting" :keys "m"
                       :file "~/Notes/meetings.org"
                       :children (
                                  ("Meetings" :keys "m"
                                   :template ("* %t %?"

[2020-08-08 20:09] progfolio commented on #20
Thanks for the example. I understand what you're going for now.

This is a little tricky due to `org-capture's` implementation.
`org-capture` executes in this order:

-   place template
-   run org-capture-mode-hook
-   clock-in if necessary

What you want to do is:

-   place first heading of template
-   clock-in if necessary
-   fill-out rest of template/position cursor (normally only done in t

[2020-08-10 09:56] kehoen commented on #20
Yes, thank you. Running that code does exactly what I need. Now, I just need to best determine how to integrate it into my use case. Thanks for taking the time to do this.

[2020-08-10 09:56] #20 closed, assigned to progfolio

[2020-08-10 13:09] kehoen commented on #20
Sorry for the second msg - if you have a minute, can you help show me how to define the function outside of the capture template so I can reuse it on a number of templates? I'm having trouble accomplishing that.

[2020-08-10 17:03] progfolio commented on #20
Sure. The `defun` form needs to be moved out of the declaration and should be before anything that uses it.

[code]

[2020-08-10 18:06] kehoen commented on #20
does there need to be an `advice:` declaration in the setq example above?

[2020-08-10 18:25] progfolio commented on #20
No. I was merely storing the function there in the example. `:advice` is not a recognized doct keyword. It was just a convenient way to declare the function with the rest of the declaration if you only needed it in one spot.

[2020-08-24 08:56] yantar92 commented on #17
I finally decided to make it into a package since it can really use community contributions to various web-site parsers.
https://github.com/yantar92/org-capture-ref

[2020-09-06 16:52] jsturdy opened #21 "%{keyword} expansion fails for :template-file"
## Describe the problem
I've been trying to track down why a template file I have wasn't expanding the `%{doct-keyword}` like it seemed it should, based on the description of the functionality.

I moved the template into the `:template` call itself and the expansion happened as advertised, but if my template lives in a file, and is expanded through `:template-file`, the `%{doct-keyword}` fields al

[2020-09-06 19:10] progfolio commented on #21
I'm glad you're finding it useful. Thank you for the detailed report.

No apology necessary. Your analysis is correct. The expansion was not happening for `:template-file` strings.
Oversight on my part. I've pushed a fix on the latest master branch. Would you mind updating and testing it out?

[2020-09-06 20:46] progfolio commented on #21
Off-topic side note:

Your Org installation is mixed. This has nothing to do with what you're experiencing with doct, but it can cause very subtle and hard to track bugs. Part of this is due to the way straight.el currently handles fixing Org (it implements a workaround to make up for not running the necessary make commands building Org requires). I have an outstanding pull I've been working on th

[2020-09-06 22:05] jsturdy commented on #21
This does indeed fix the `%{keyword}` expansion, however, it now seems to uncover two other issues:
* that only the last `:template-file` is used for all occurrences
* mixing `:template-file` and `:template` breaks some items, and introduces some dependence on whether `:template-file` occurs before `:template` or not.

If the snippet I had above was the first entry, and I had a last entry like:
[c

[2020-09-07 01:10] progfolio commented on #21
Useful, indeed. Thanks again. Pushed another patch that should work now. Let me know if it's still giving you trouble.

If you're interested in the details:

An internal function, `doct--first-in`, is usually used to look up  certain keywords when converting declarations to templates. It defaults to looking for keywords in an internal variable, `doct--current-plist`. After converting all declarati

[2020-09-07 06:36] jsturdy commented on #21
Everything seems to be playing nicely together now.

Thanks for the quick work (and useful package)!

[2020-09-07 10:30] #21 closed, assigned to progfolio

[2020-09-15 19:25] algon-ns opened #22 "Getting DOCT to declare the entries for org-roam"
I'm trying to use DOCT, but I can't figure out how to configure the two entries for org-roam.

I'm not really an expert, so I find the documentation kind of complicated.

med venlig hilsen (=With Kind Regards)
Niels

[2020-09-15 19:43] progfolio commented on #22
Hi Niels,

Thanks for trying out doct. org-roam extends the org-capture-template syntax with its own keywords. I've had several people ask about using doct with org-roam. You can try the code in the following gist:

https://gist.github.com/progfolio/2871f12099be3913a1c61a3c3062f4fd

And here is an example of how to use it: https://github.com/progfolio/doct/issues/18#issuecomment-664593854

If you

[2020-09-19 12:22] algon-ns opened #23 "org-roam / DOCT"
Hello,
Here I am again,
Using the snippets (without changes), I get this messages (and the graphic i roam don't work)

_Warning (doct): :function org-roam-capture--get-point unbound during conversion in the "default" declaration_
_Warning (doct): :function org-roam-capture--get-point unbound during conversion in the "ref" declaration_

Here is the actual code:

 (setq org-roam-capture-templates

[2020-09-19 14:51] progfolio commented on #23
You'll have to be more specific here. I don't know what you mean. Please provide an example of the behavior you are expecting and what actually happens.

As far as the warning messages go:
`doct` is warning you that the function `org-roam-capture--get-point` is unbound when it is creating your template
because if it is not bound prior to invoking `org-capture` the template will fail. This is to ca

[2020-09-19 14:51] #22 closed, assigned to progfolio

[2020-09-20 17:54] algon-ns commented on #23
I figured out the reason to failure at org-roam-graph (which do not have anything to do with doct, but that I've never heard of a browser called 'Brave Browser', so I got a separate issue there, but I stille got the warnings for org-roam-captures.
Se beneath for the code.

I'm an old man, and find this rather complicated, and I'm not sure that I understand what's going on.

I still gets the warnin

[2020-09-20 18:05] progfolio commented on #23
Instead of what you have above, try this:
[code]
That should go in your config.org file in the `use-package` declaration for `org-roam`. replace:
[code]

[2020-09-21 14:42] algon-ns commented on #23
Thanks,
doct and org-roam works, my problem now is solely to show the graph,
and I didn't get rid of warnings....

I'll work on it, so eventually I get it right

mvh
Niels

[2020-09-21 16:22] progfolio commented on #23
Glad to hear you got it to a mostly functional state.
I'd have to see how everything is configured to diagnosis the issue with the warnings.

Keep working at it!
~ NV

[2020-09-21 17:34] #23 closed, assigned to progfolio

[2021-01-13 13:53] philipsd6 commented on #11
@progfolio, perhaps you would consider adding `doct-add-to-templates` and/or documenting this in the installation/setup docs? I build up my init as an org file, so several sections update the capture templates, and I spent a fair amount of time trying to get this working before I found this closed issue.

[2021-01-13 16:59] progfolio commented on #11
@philipsd6 I've added a function that should accommodate your use case:

 https://github.com/progfolio/doct#doct-add-to

 Note this is slightly different form `add-to-list`. It does not mutate the original list and should work properly with lexical variables.

[2021-01-13 20:20] philipsd6 commented on #11
Oh thanks! I'll check that out with my setup.

[2021-01-22 20:09] philipsd6 opened #24 "Can I access doct-custom/etc from a :hook function?"
I'm using `:template "my template"`, `:file myfile.org` and `:hook (lambda () (my/capture-func))` as well as `:my-custom-var1`, etc... to enrich the filled template with additional items.

From inside `my/capture-func` how can I:
1. access the buffer opened for `myfile.org`? (Without hardcoding it!)
2. access the custom custom vars on the doct-custom plist?

[2021-01-22 21:48] progfolio commented on #24
The hook function is run in the context of the capture buffer,
which itself is just a narrowed indirect buffer of the target buffer.

Here's an example that illustrates how to access doct's custom metadata plist from
a hook function via the `doct-get` fucntion:

[code]

The hook fucntion will move point to the end of the capture buffer
and insert the `:foo`'s value from doct's `:custom` metadata p

[2021-01-22 22:11] philipsd6 commented on #24
Yes, that very much does help! Thank you!

Basically what I'm doing is logging meeting topics throughout the week in a top level heading, then on meeting day, I start a new capture that moves those topics to the current entry as checkboxes, and I need the `doct-get` to grab the meeting context so I can move the right set of meeting topics.

[2021-01-22 22:11] #24 closed, assigned to progfolio

[2021-01-22 22:22] progfolio commented on #24
You're welcome.
If you are able to make the template generic enough, please consider sharing it.
I have a collection of capture templates I'm organizing that I plan on publishing soon.
Sounds like a useful workflow.

[2021-01-25 20:41] philipsd6 commented on #24
Here you go... not sure where else to share it!

My workflow for this is:
1. Any time I have an idea to discuss in an upcoming Admin or Team meeting, I can press <kbd>Ctrl-c</kbd> <kbd>c</kbd> <kbd>m</kbd> <kbd>t</kbd> <kbd>t</kbd> or <kbd>a</kbd> to capture the topic and get right back to where I was working.
2. Then, when a meeting rolls around, then I can press <kbd>Ctrl-c</kbd> <kbd>c</kbd> <k

[2021-02-03 05:23] ghost opened #25 "how about to set tag?"
Some distro like Debian or GNU Guix prefer to add to their repository only "completed" software, where authors set tag in order to say "our software is ready to stable use". How about to set tag someday?

[2021-02-03 13:54] progfolio commented on #25
I don't necessarily agree with that idea. Software is rarely complete. I never aim to introduce bugs, so I have little way (outside of testing) of knowing when a particular commit is "stable". By tagging releases as stable, I'm encouraging users to lock in to a version which may have bugs or may be improved.

The package is also published on MELPA, which upon tagging, will be uploaded to MELPA "st

[2021-02-03 15:30] ghost commented on #25
Ok, thank you for answer.

[2021-02-03 15:30] #25 closed, assigned to progfolio

[2021-03-29 15:33] philipsd6 opened #27 "How to reference the template description string?"
I find myself creating a lot of templates similar to these:

[code]

The redundancy of having the `:desc` and `:comm-type` properties being the same as the template title/descriptions bothers me, but I haven't been able to figure out how to refer to the description of my template, let alone the description of the parent group. Is something like this possible? At least the child ones if not the par

[2021-03-29 15:37] philipsd6 commented on #27
OK, I dumped `org-capture-plist` and answered the most important part of my question. This works for the children level:

[code]
That gets me to 90% happy. I was just expecting to get that from `:description` as that's what that is called in the org-capture template documentation.

If there's some way to access the parent group `:doct-name` feel free to update, otherwise we can close this.

[2021-03-29 15:37] #27 closed, assigned to progfolio

[2021-03-30 00:41] progfolio commented on #27
I store the name as `:doct-name` in order to avoid key name conflicts with user metadata.

What you have in your example is not a group.
Groups are special cases of parent declarations which store metadata but are not added to the resultant list of templates.
See:

<https://github.com/progfolio/doct#group>

At one point I stored the entire declaration list with each template.
This was a recursive

[2021-03-30 01:15] philipsd6 commented on #27
For my current example it absolutely does!

[2021-07-26 23:28] spacekitteh commented on #16
This (= the gist) doesn't seem to work with org-roam v2 templates. Any idea how to fix it?

E.g. from this:
[code]
I get this:

[code]

[2021-07-27 00:29] progfolio commented on #16
Sorry, even when I wrote that original code I had moved on from Org-roam.
I took a brief look to see what had changed design-wise with v2, but I don't have any time to dedicate to this now. Feel free to modify any of the code here to suit your needs if you figure it out.

[2021-07-27 21:28] spacekitteh commented on #16
Fair enough!

[2021-07-28 00:33] spacekitteh commented on #16
Can you explain this line?
[code]
More specifically, the numbers --- what do they correspond to?

[2021-07-28 01:11] progfolio commented on #16
Sure. At the point `doct-after-conversion-functions` are run, each
template still has all of its metadata.
If the template is a parent and has properties, it will be of the form:

[code]

If it is a child with properties it will be of the form:

[code]

So that line in particular is grabbing the template's properties in either case.
It then examines it for doct's property list (:doct) and an :org-

[2021-07-28 01:22] spacekitteh commented on #16
Ok nevermind the above. If I edit the processed template above to remove the `#'org-roam-capture--get-point`, then it works. However, doct demands the existence of either `:function` or a `:file` property.

[2021-07-28 01:25] progfolio commented on #16
Could you share the actual error message, please?

[2021-07-28 01:44] progfolio commented on #16
Nevermind. I've taken a closer look at org-roam v2.
It looks like `org-roam-capture-templates` does not allow for a custom placement function or file.
Take a look at `org-roam-capture--convert-template` which hardcodes `org-roam-capture--get-point` as the function to determine the target:

[code]

I understand why Jethro chose this design, but it violates the shape of a valid capture-template, so

[2021-07-28 02:57] spacekitteh commented on #16
Ah, cheers!

[2021-07-28 03:02] spacekitteh commented on #16
Actually no, that doesn't work, as org-roam freaks out if there's *anything* in the position where `doct--target` puts the target. I think the best solution to this is either to get rid of the hard-coding (and only use it as a default), or to write a doct post-conversion hook.

[2021-07-28 22:04] spacekitteh commented on #16
Ok, this has been fixed with https://github.com/org-roam/org-roam/pull/1701. It needs a `:function ignore`.

[2021-09-23 07:11] prashantnag opened #28 "Parent's :custom plist overrides children properties"
Part of my org-capture-template config is as follows:
[code]
This code is not using the specified templates.
when I used "Project-local todo" it gives me this template:
![3](https://user-images.githubusercontent.com/15131819/134467295-51269bbf-ae63-4adc-8651-f105076be147.png)
when I used "Project-local changelog" it gives me this template:
![1](https://user-images.githubusercontent.com/15131819/13

[2021-09-23 11:48] progfolio commented on #28
You haven't given enough context for me to help you. Please show the value of `org-capture-templates` and all code which is being used to set them. Be specific about what you expected to happen and what is actually happening.

[2021-09-23 16:14] prashantnag commented on #28
This is my config:

[code]
Expected Behaviour: After invoking org-capture from inside a project then select the Project parent with the key `p`-->
If I select ` t `(Project todo)  then It should capture the notes with the following template
[code]
but it is not using the above templates. instead, it just inserting the heading. Screenshot is attached
![4](https://user-images.githubusercontent.com/1

[2021-09-23 16:34] progfolio commented on #28
I think I understand the issue.
You've declared a `:custom` plist on the parent declaration which is overriding the property on the children because they are not declared as `:custom`.
Here's a minimal reproduction case which illustrates this:

[YODEL](https://github.com/progfolio/yodel) REPORT (2021-09-23 12:13:17):

[code]

<details><summary>STDOUT:</summary>

[code]

</details>
<details><summar

[2021-09-23 17:36] prashantnag commented on #28
Thank you @progfolio  for quickly fixing the issue.  Now the template-related issue is solved. but `:function +org-capture-project-todo-file)` is not able to find the right file. All the `project-local-todo ` are going in the file opened in the current buffer.

[2021-09-23 18:00] progfolio commented on #28
You're welcome.
It's a little hard for me to diagnose what's wrong with that function considering you haven't provided the definition of that function.

[2021-09-23 19:08] prashantnag commented on #28
@progfolio I am using doom-emacs and org-capture template I have taken from [@tecosaur](https://github.com/tecosaur/emacs-config) config. I hope he will be able to provide the definition of that function.

[2021-09-23 19:59] progfolio commented on #28
OK. I see you've opened an issue on his repo. I don't think this has anything more to do with doct, so I'm going to close this issue. If you find any more information that points to it being a bug in doct, just comment here and I will reopen this issue.

[2021-09-23 19:59] #28 closed, assigned to progfolio

[2021-10-18 18:46] snuffop commented on #23
Putting this hear as it's the most relevant.  Would the Gist of doct-org-roam be getting into the default code base?   and would there be an update to handle org-roam v2 changes to the templates.

[2021-10-18 18:52] tpeacock19 opened #29 "Org 9.5 capture refile-targets"
With the release of org 9.5 there is an option to define refile targets when exiting capture mode with `org-capture-refile`. It takes the same format as `org-refile-targets` and uses the `:refile-targets` property in the capture template. I was able to get it to work adding the property to `doct-option-keywords`. I just wanted to bring to your attention.

[2021-10-18 18:57] progfolio commented on #23
I have no intention of supporting `org-roam` via doct. It's beyond the scope of the package, and it would make more sense the other way around (org-roam depending on doct). I don't have any interest in developing that because I no longer use org-roam, but if someone wants to make their own package to extend doct or fork that gist, I have no issue with that.

I'm not familiar with the changes betwe

[2021-10-18 19:04] #29 closed, assigned to nobody

[2021-10-18 19:05] progfolio commented on #29
I had a note about that, but forgot all about it. Thanks for the reminder. Should be accounted for now.

[2022-02-08 22:06] seanhagen opened #30 "Documentation update to explain `:datetree` needs `:olp` not `:headline`"
I'm trying to set up my Org config so I'm using `doct` -- so far, it's pretty awesome!

However, I got stuck trying to move my `file+olp+datetree` capture targets to `doct`.

I thought that this would work:
[code]

But it wasn't working and I couldn't figure out why. It kept creating a date-tree at the bottom of the file as a new top-level heading instead of putting the date-tree under the headlin

[2022-02-09 06:47] progfolio commented on #30
Thank you. Glad you're finding it useful.

That's the intended behavior. If you take a look at the `target` section of the documentation for `org-capture-templates`, you'll see there is no `file+headline+datetree` target type.

I've added a note to the docs: https://github.com/progfolio/doct/commit/ce21bce19b91e6f1dfc1f23983b4b8ce4464c8f5

 Let me know if that helps.

[2022-02-16 21:37] progfolio commented on #30
Closing this on the assumption that the issue has been cleared up. If not, feel free to comment and we can reopen.

[2022-02-16 21:37] #30 closed, assigned to progfolio

[2022-02-18 23:00] seanhagen opened #31 "`:olp` path dropped when `:datetree` declared first"
## Describe the problem

When trying to use `:datetree`, `:olp`, and `:time-prompt` to capture meetings that occur in the future the date tree doesn't get created in the right location. Rather than position the date tree as a subheading under the heading defined by `:olp`, it places the date tree as a top-level heading at the bottom of the file.

With a minimal configuration file (below), this is

[2022-02-19 06:01] progfolio commented on #31
Thanks for the bug report.

It's always a good idea to rule out your config first, then start with the bare minimum test case.
In the case of doct, I would recommend taking the template `doct` returns and inspecting that.

It's also best to tackle one issue at a time. The `:time-prompt`, and `:empty-lines` aren't the issue here.
As you noticed, the `:olp` value was being dropped from the template.

[2022-02-20 04:37] seanhagen commented on #31
That works! Thanks for your quick response, `doct` is an awesome package!

[2022-02-20 04:58] progfolio commented on #31
Thanks for the kind words and testing. I've merged the patch to the "master" branch.

[2022-02-20 04:58] #31 closed, assigned to progfolio

[2022-02-26 23:20] jpretori opened #33 "unbound variable in doct--target-file"
Hello!  Thanks for making doct, looks like it is going to make my capture templates a lot easier to read and maintain.

I've run into a problem that I seem unable to solve by careful reading of the README.  Maybe you could just point out where I need to read more carefully?

I am struggling with datetrees.   Based on reading the docs, I expected the following config:

[code]
to produce something a

[2022-02-27 00:04] progfolio commented on #33
I'm unable to reproduce the issue with the example you've given me.
For me, evaluating the following:

[code]

returns:

[code]

In the backtrace you've provided, I see the following line:

[code]

Which has :datetree bound to the string "t". This indicates that the example you've provided (which has :datetree set correctly to the symbol `t`) may be different from the declarations which are causin

[2022-02-27 00:22] jpretori commented on #33
I tried out the declaration you provided, and got another debug window.  Here is the backtrace.  In case it is relevant, I am using Emacs v27.2 (recently built from source).

Doct info acording to `package-list-packages`
[code]

Backtrace I get when I run your `doct` declaration
[code]

Finally, here is the unaltered declarations from my .emacs file.
[code]

[2022-02-27 02:06] progfolio commented on #33
The pcase pattern for the latest patch must not work for your Emacs version. I've used a different pattern which should work now (both the "master" and "development" branches have the patch applied). Testing is appreciated.

[2022-02-27 08:46] jpretori commented on #33
And gladly supplied!

I loaded the new doct package, and it seems to work now.

Thank you!

[2022-02-27 14:16] #33 closed, assigned to progfolio

[2022-04-09 17:51] vherrmann commented on #16
I've wrote a package for this here: https://gist.github.com/vherrmann/f9b21eeea7d7c9123dc400a30599d50d that should iirc work for org-roamv2

[2022-07-13 08:03] DarkBuffalo opened #34 "Doct with org-journal"
Hi,
First of all thank you for the good work done on DOCT.

## Context
I tried to adapt the capture provided by [org-journal ](https://github.com/bastibe/org-journal/blob/master/README.org#journal-capture-template)with DOCT but it does not work.
[code]
## Errors
- When I leave the 2 ** in the template it shows me an error
[code]
- When I leave a single * it does not indent the hourly headline
[cod

[2022-07-13 08:23] DarkBuffalo commented on #34
maybe that would also interest @bastibe

[2022-07-13 16:58] progfolio commented on #34
First of all thank you for the good work done on DOCT.

Glad you're finding it useful. Thank you for the thorough bug report.

It looks like you have two separate issues here.
Let's deal with them one at a time.

When I wrote the validator, I likely copy pasted a check from just above where entries are checked for leading stars. Instead of `string-prefix-p`, the check needs to use `string-match-p`

[2022-07-20 03:14] progfolio commented on #34
I'm assuming this fixed the issue. If not, feel free to comment and we can reopen this issue.

[2022-07-20 03:14] #34 closed, assigned to progfolio

[2022-10-17 15:13] realsontaran opened #36 "Function output as headline"
I am trying to create a weekly journal capture template, but can't figure out the headline part. Basically, I am targeting to get this output:
[code]
And this is my current setup:
[code]

[2022-10-17 16:29] progfolio commented on #36
The keyword expansion syntax, `%{key}`, is only supported in the template string.
It will not work in the value of the `:headline` keyword.
You would want to use the `:function` keyword to locate or create the desired org heading and position point in that buffer.

[2022-10-17 19:21] realsontaran commented on #36
Thank you, I found a [gist](https://gist.github.com/webbj74/0ab881ed0ce61153a82e) which works for my specific case.

[2022-10-17 19:21] #36 closed, assigned to progfolio